
<div *ngIf="services; else noData">
    <div class="d-flex flex-column justify-content-center align-items-center gap-2 py-1" *ngFor="let service of filteredServices">
        <button class="d-flex btn justify-content-between align-items-center btn-outline-light text-start p-2 w-100" 
        style="width: 80%;" 
        [ngClass]="{
            'btn-glow': selectedOption === service.id
        }" 
        (click)="selectService(service.id)"> 
            <span class="w-100">
                <span class="fs-3 text-start"> {{service.serviceName}} </span> <br>
                <span class="text-muted fs-6"> <i class="bi bi-clock"></i> {{service.timing}} min</span> 
            </span>
            <span *ngIf="service.prices && service.prices.length > 0" class="fs-5 text-nowrap">
                <span *ngIf="service.prices.length > 1; else singleValue">
                    <i class="bi bi-tags"></i> {{ service.prices[0] }} - {{ service.prices[service.prices.length - 1] }} UAH
                </span>
                <ng-template #singleValue>
                    <i class="bi bi-tags"></i> {{ service.prices[0] }} UAH
                </ng-template>
            </span>
        </button>
    </div>
</div>

<ng-template #noData>
    <div class="fs-5">Loading...</div>
</ng-template>