<div class="d-flex justify-content-center">
    <form class="w-100 row" [formGroup]="personalDataForm" (ngSubmit)="onSubmit()">
        <div class="col-10 offset-1">
            <label for="firstName">First Name</label>
            <div class="input-group">
              <input class="form-control" id="firstName" formControlName="firstName"
                [readOnly]="customer && !editModes['firstName']">
              <button class="btn btn-outline-info" *ngIf="customer" type="button" (click)="toggleEditMode('firstName')">
                {{ editModes['firstName'] ? 'Save' : 'Edit' }}
              </button>
            </div>
            <div *ngIf="personalDataForm.get('firstName')?.invalid && personalDataForm.get('firstName')?.touched">
              <small *ngIf="personalDataForm.get('firstName')?.errors?.['required']">This field is required.</small>
              <small *ngIf="personalDataForm.get('firstName')?.errors?.['minlength']">Too short name.</small>
            </div>
        </div>
        <div class="col-10 offset-1">
            <label for="lastName">Last Name</label>
            <div class="input-group">
              <input class="form-control" id="lastName" formControlName="lastName" [readOnly]="customer && !editModes['lastName']">
              <button class="btn btn-outline-info" *ngIf="customer" type="button" (click)="toggleEditMode('lastname')">
                {{ editModes['lastname'] ? 'Save' : 'Edit' }}
              </button>
            </div>
            <div *ngIf="personalDataForm.get('lastName')?.invalid && personalDataForm.get('lastName')?.touched">
              <small *ngIf="personalDataForm.get('lastName')?.errors?.['required']">This field is required.</small>
              <small *ngIf="personalDataForm.get('lastName')?.errors?.['minlength']">Too short name.</small>
            </div>
        </div>
        <div class="col-10 offset-1">
            <label for="phone">Phone Number</label>
            <div class="input-group">
              <input class="form-control" id="phone" formControlName="phone" [readOnly]="customer && !editModes['phone']">
              <button class="btn btn-outline-info" *ngIf="customer" type="button" (click)="toggleEditMode('phone')">
                {{ editModes['phone'] ? 'Save' : 'Edit'  }}
              </button>
            </div>
            <div *ngIf="personalDataForm.get('phone')?.invalid && personalDataForm.get('phone')?.touched">
              <small *ngIf="personalDataForm.get('phone')?.errors?.['required']">This field is required.</small>
            </div>
        </div>
        <div class="col-10 offset-1">
            <label for="email">Email</label>
            <div class="input-group">
               <input class="form-control" id="email" formControlName="email" type="email" [readOnly]="customer && !editModes['email']">
              <button class="btn btn-outline-info" *ngIf="customer" type="button" (click)="toggleEditMode('email')">
                {{ editModes['email'] ? 'Save' : 'Edit'  }}
              </button>
            </div>
            <div *ngIf="personalDataForm.get('email')?.invalid && personalDataForm.get('email')?.touched">
              <small *ngIf="personalDataForm.get('email')?.errors?.['required']">This field is required.</small>
              <small *ngIf="personalDataForm.get('email')?.errors?.['email']">Incorrect email.</small>
            </div>
        </div>
        <div *ngIf="withPassword && !customer">
            <label for="password">Password</label>
            <input class="form-control" id="password" formControlName="password" type="password">
            <div *ngIf="personalDataForm.get('password')?.invalid && personalDataForm.get('password')?.touched">
              <small *ngIf="personalDataForm.get('password')?.errors?.['required']">This field is required.</small>
            </div>
        </div>

        <button type="submit" *ngIf="submitBtnActive" [disabled]="personalDataForm.invalid">Ok</button>
    </form>
</div>