<div *ngIf="appointments && appointments.length > 0; else noData">
    <div  *ngFor="let appointment of appointments">
        <span> {{appointment.dateTime | date : 'yyyy-MM-dd HH:mm:ss'}} {{appointment.service}} {{appointment.specialist}} {{appointment.price}}</span>
        <button *ngIf="cancelOption" (click)="cancelAppointment(appointment.id)" [disabled]="isCancelled(appointment.id)">
            {{isCancelled(appointment.id) ? 'Cancelled' : 'Cancel'}}
        </button>
    </div>
</div>

<ng-template #noData>
    <div>You don't have appointments yet</div>
</ng-template>